@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    color: white;
    height: 100%;
    letter-spacing: 1px;
    background: #1a1a1a 50%;
    font-family: "Montserrat", sans-serif;
}

.bg-nav {
    background: #171717;
}

.title {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.text-lg {
    font-size: 50px;
}

.text {
    margin: -5px;
}

.page:first-of-type {
    margin-top: 5rem;
}

.page {
    scroll-margin-top: 5rem;
}

.page > div > p {
    margin-bottom: -5px;
}

.page > div > img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 0.9rem solid #1a1a1a;
    outline: 0.5rem solid #0DCAF0;
}

.text-p {
    color: #ddd;
}

.text-p > strong {
    color: White;
}

.skill {
    background-color: #171717;
    border-radius: 5px;
    border: 2px solid #0DCAF0;
    font-size: 16px;
    font-weight: bold;
    margin: 0.7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}