/* /Shared/Footer.razor.rz.scp.css */
.logo[b-4wz2252ub4] {
    display: flex;
    text-decoration: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
.logo[b-p433wnmt7i] {
    display: flex;
    text-decoration: none;
}
/* /Shared/Nav_Link.razor.rz.scp.css */
.nav-link[b-vriw8gfi07] {
    color: #ffffff !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro',sans-serif;
    cursor: pointer;
}

a:hover[b-vriw8gfi07] {
    color: #00ffff !important;
}
