<nav class="navbar sticky-bottom navbar-expand-sm navbar-dark bg-nav">
    <div class="container-fluid justify-content-center">
        <!-- logo and copyright -->
        <a class="logo px-2" href=""><img src="images/logo.png" height="30" /></a>
        <a class="nav-link disabled text-footer">
            Made by Cody Chaplin. &copy; Copyright @DateTime.Today.Year
        </a>

        <!-- social links -->
        <a class="nav-link" href="mailto:chaplinbcody@gmail.com" target="_blank"><img src="images/email.png" height="30" /></a>
        <a class="nav-link" href="https://www.linkedin.com/in/codychaplin" target="_blank"><img src="images/linkedin.png" height="30" /></a>
        <a class="nav-link" href="https://github.com/codychaplin" target="_blank"><img src="images/github.png" height="30" /></a>
    </div>
</nav>